<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>detalle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Datos de la tarea seleccionada</h1>
  <h1>ID: {{id}}</h1>
  <h2>Titulo: {{document.data.titulo}}</h2>
  <h2>Descripción: {{document.data.descripcion}}</h2>
  <br />
  <h1>Tarea en edición:</h1>

  <!-- Imagen de la tarea -->

    <img src="{{imagenSelec}}" *ngIf="document.data.imagenURL!==''||imagenSelec!==''" height="200px" alt="imagen" />
    <h3 *ngIf="document.data.imagenURL===''">Selecciona una imagen para la tarea</h3>

    <h1>Acciones para la imagen</h1>
    <br />
    <!-- Boton para subir imagen -->
    <ion-button (click)="seleccionarImagen()">Selecciona Imagen</ion-button>
    <!-- Boton para subir imagen -->
    <ion-button (click)="subirImagen()">Subir Imagen</ion-button>
    <!-- Boton para borrar archivo -->
    <ion-button (click)="eliminarArchivo(document.data.imagenURL)" color="danger"
      >Borrar Imagen</ion-button
    >

<h1>Edición de la Tarea</h1>
  <!-- Input del titulo -->
  <ion-item>
    <ion-label><b>Titulo</b></ion-label>
    <ion-input [(ngModel)]="document.data.titulo"></ion-input>
  </ion-item>
  <!-- Input de la descripción -->
  <ion-item>
    <ion-label><b>Descripción</b></ion-label>
    <ion-input [(ngModel)]="document.data.descripcion"></ion-input>
  </ion-item>

  <!-- Boton para insertar tarea, visible si se pulsó el boton + en home -->
  <ion-button
    *ngIf="id==='Asignación Automática'"
    (click)="clickBotonInsertar()"
    >Insertar Tarea</ion-button
  >
  <!-- Boton para editar tarea, visible si existe tarea seleccionada -->
  <ion-button
    *ngIf="id!=='Asignación Automática'"
    (click)="clickBotonEditar()"
    color="warning"
    >Editar Tarea</ion-button
  >
  <!-- Boton para borrar tarea, visible si existe tarea seleccionada  -->
  <ion-button
    *ngIf="id!=='Asignación Automática'"
    (click)="confirmarBorrado()"
    color="danger"
    >Borrar Tarea</ion-button
  >

  <br /><br />

</ion-content>
